<div class="container">
    <div class="intro-sec">
        <div class="xs-text mb-2_5rem uppercase ls-7_5px">LUXURY DESIGN</div>
        <div class="xl-text x-bold mb-1_5rem">Perfect circles and Rectangles</div>
        <div class="f18p f30lh">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unkno</div>
    </div>
    <div class="grid three-col cards-wrap">
        <ng-container *ngTemplateOutlet="simpleCard;"></ng-container>
        <ng-container *ngTemplateOutlet="simpleCard;"></ng-container>
        <ng-container *ngTemplateOutlet="simpleCard;"></ng-container>
        <ng-container *ngTemplateOutlet="simpleCard;"></ng-container>
        <ng-container *ngTemplateOutlet="simpleCard;"></ng-container>
        <ng-container *ngTemplateOutlet="simpleCard;"></ng-container>
    </div>
    <div class="grid two-col video-main-wrap">
        <div class="video-wrap">
            <img src="assets/images/play.svg" />
        </div>
        <div class="video-content">
            <div class="xs-text mb-2rem uppercase ls-7_5px">YOU SHOULD TO SEE</div>
            <div class="xl-text x-bold mb-1rem">Carefully crafted with love to small things</div>
            <div class="xs-text mb-3rem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unkno</div>
            <button class="gradient ls-7_5px x-bold">CONTACT US</button>
        </div>
    </div>
</div>

<ng-template #simpleCard>
    <div class="cards">
        <div class="x-bold mb-1rem">Easy Interface</div>
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever sinc</div>
    </div>
</ng-template>