<footer>
    <div class="container footer-wrap">
        <ul class="footer-col-one">
            <li class="x-bold uppercase foot-title">contacts</li>
            <li>50 Raritan Center Pkwy,<br>Edison, NJ 08837, USA</li>
            <li class="is-flex align-center x-bold"><img class="mr-1rem icons" src="assets/images/phone.svg" />8080000000</li>
            <li class="is-flex align-center x-bold"><img class="mr-1rem icons" src="assets/images/mail.svg" />contact@mail.com</li>
            <li class="grouped-outline-btn">
                <button>Contact Us</button>
                <button>Visit Us</button>
            </li>
        </ul>
        <ul class="footer-col-two">
            <li class="x-bold foot-title">Popular</li>
            <li><a href="javascript:void(0);">Free videos</a></li>
            <li><a href="javascript:void(0);">Tools, apps and plugins</a></li>
            <li><a href="javascript:void(0);">Blog</a></li>
            <li><a href="javascript:void(0);">Photo license</a></li>
            <li><a href="javascript:void(0);">FAQ</a></li>
            <li><a href="javascript:void(0);">API</a></li>
        </ul>
        <ul class="footer-col-three">
            <li class="x-bold foot-title">Service</li>
            <li><a href="javascript:void(0);">Free videos</a></li>
            <li><a href="javascript:void(0);">Tools, apps and plugins</a></li>
            <li><a href="javascript:void(0);">Blog</a></li>
            <li><a href="javascript:void(0);">Photo license</a></li>
            <li><a href="javascript:void(0);">FAQ</a></li>
            <li><a href="javascript:void(0);">API</a></li>
        </ul>
    </div>
</footer>