//Margins styles here
//using 8pt grid .... (1rem == 16px)
//mt ==> Margin Top
//mb ==> Margin Bottom
//mr ==> Margin Right
//ml ==> Margin Left

.m-auto {
    margin: auto;
}

.m-0rem {
    margin: 0rem !important;
}

.m-0_5rem {
    margin: 0.5rem;
}

.m-1rem {
    margin: 1rem;
}

.m-1_5rem {
    margin: 1.5rem;
}

.m-2rem {
    margin: 2rem;
}

.m-2_5rem {
    margin: 2.5rem;
}

.m-3rem {
    margin: 3rem;
}

.m-3_5rem {
    margin: 3.5rem;
}

.m-4rem {
    margin: 4rem;
}

.m-4_5rem {
    margin: 4.5rem;
}

.m-5rem {
    margin: 5rem;
}

.mt-0_5rem {
    margin-top: 0.5rem;
}

.mt-1rem {
    margin-top: 1rem;
}

.mt-1_5rem {
    margin-top: 1.5rem;
}

.mt-2rem {
    margin-top: 2rem;
}

.mt-2_5rem {
    margin-top: 2.5rem;
}

.mt-3rem {
    margin-top: 3rem;
}

.mt-3_5rem {
    margin-top: 3.5rem;
}

.mt-4rem {
    margin-top: 4rem;
}

.mt-4_5rem {
    margin-top: 4.5rem;
}

.mt-5rem {
    margin-top: 5rem;
}

.mr-0_5rem {
    margin-right: 0.5rem;
}

.mr-1rem {
    margin-right: 1rem;
}

.mr-1_5rem {
    margin-right: 1.5rem;
}

.mr-2rem {
    margin-right: 2rem;
}

.mr-2_5rem {
    margin-right: 2.5rem;
}

.mr-3rem {
    margin-right: 3rem;
}

.mr-3_5rem {
    margin-right: 3.5rem;
}

.mr-4rem {
    margin-right: 4rem;
}

.mr-4_5rem {
    margin-right: 4.5rem;
}

.mr-5rem {
    margin-right: 5rem;
}

.mb-0_25rem {
    margin-bottom: 0.25rem;
}

.mb-0_5rem {
    margin-bottom: 0.5rem;
}

.mb-1rem {
    margin-bottom: 1rem;
}

.mb-1_5rem {
    margin-bottom: 1.5rem;
}

.mb-2rem {
    margin-bottom: 2rem;
}

.mb-2_5rem {
    margin-bottom: 2.5rem;
}

.mb-3rem {
    margin-bottom: 3rem;
}

.mb-3_5rem {
    margin-bottom: 3.5rem;
}

.mb-4rem {
    margin-bottom: 4rem;
}

.mb-4_5rem {
    margin-bottom: 4.5rem;
}

.mb-5rem {
    margin-bottom: 5rem;
}

.ml-4px {
    margin-left: 4px;
}

.ml-0_5rem {
    margin-left: 0.5rem;
}

.ml-1rem {
    margin-left: 1rem;
}

.ml-1_5rem {
    margin-left: 1.5rem;
}

.ml-2rem {
    margin-left: 2rem;
}

.ml-2_5rem {
    margin-left: 2.5rem;
}

.ml-3rem {
    margin-left: 3rem;
}

.ml-3_5rem {
    margin-left: 3.5rem;
}

.ml-4rem {
    margin-left: 4rem;
}

.ml-4_5rem {
    margin-left: 4.5rem;
}

.ml-5rem {
    margin-left: 5rem;
}


//Padding styles here
//using 8pt grid .... (1rem == 16px)
//pt ==> padding Top
//pb ==> padding Bottom
//pr ==> padding Right
//pl ==> padding Left

.p-0rem {
    padding: 0rem !important;
}

.p-0_5rem {
    padding: 0.5rem;
}

.p-1rem {
    padding: 1rem;
}

.p-1_5rem {
    padding: 1.5rem;
}

.p-2rem {
    padding: 2rem;
}

.p-2_5rem {
    padding: 2.5rem;
}

.p-3rem {
    padding: 3rem;
}

.p-3_5rem {
    padding: 3.5rem;
}

.p-4rem {
    padding: 4rem;
}

.p-4_5rem {
    padding: 4.5rem;
}

.p-5rem {
    padding: 5rem;
}

.pt-0_5rem {
    padding-top: 0.5rem;
}

.pt-1rem {
    padding-top: 1rem;
}

.pt-1_5rem {
    padding-top: 1.5rem;
}

.pt-2rem {
    padding-top: 2rem;
}

.pt-2_5rem {
    padding-top: 2.5rem;
}

.pt-3rem {
    padding-top: 3rem;
}

.pt-3_5rem {
    padding-top: 3.5rem;
}

.pt-4rem {
    padding-top: 4rem;
}

.pt-4_5rem {
    padding-top: 4.5rem;
}

.pt-5rem {
    padding-top: 5rem;
}

.pr-0_5rem {
    padding-right: 0.5rem;
}

.pr-1rem {
    padding-right: 1rem;
}

.pr-1_5rem {
    padding-right: 1.5rem;
}

.pr-2rem {
    padding-right: 2rem;
}

.pr-2_5rem {
    padding-right: 2.5rem;
}

.pr-3rem {
    padding-right: 3rem;
}

.pr-3_5rem {
    padding-right: 3.5rem;
}

.pr-4rem {
    padding-right: 4rem;
}

.pr-4_5rem {
    padding-right: 4.5rem;
}

.pr-5rem {
    padding-right: 5rem;
}

.pb-0_5rem {
    padding-bottom: 0.5rem;
}

.pb-1rem {
    padding-bottom: 1rem;
}

.pb-1_5rem {
    padding-bottom: 1.5rem;
}

.pb-2rem {
    padding-bottom: 2rem;
}

.pb-2_5rem {
    padding-bottom: 2.5rem;
}

.pb-3rem {
    padding-bottom: 3rem;
}

.pb-3_5rem {
    padding-bottom: 3.5rem;
}

.pb-4rem {
    padding-bottom: 4rem;
}

.pb-4_5rem {
    padding-bottom: 4.5rem;
}

.pb-5rem {
    padding-bottom: 5rem;
}

.pl-0_5rem {
    padding-left: 0.5rem;
}

.pl-1rem {
    padding-left: 1rem;
}

.pl-1_5rem {
    padding-left: 1.5rem;
}

.pl-2rem {
    padding-left: 2rem;
}

.pl-2_5rem {
    padding-left: 2.5rem;
}

.pl-3rem {
    padding-left: 3rem;
}

.pl-3_5rem {
    padding-left: 3.5rem;
}

.pl-4rem {
    padding-left: 4rem;
}

.pl-4_5rem {
    padding-left: 4.5rem;
}

.pl-5rem {
    padding-left: 5rem;
}