// Typo Common Styles 

.xs-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.xl-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
}

.bold {
    font-weight: 600;
}

.x-bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

// Font Size

.f12p {
    font-size: 12px;
}

.f14p {
    font-size: 14px;
}

.f15p {
    font-size: 15px;
}

.f16p {
    font-size: 16px;
}

.f18p {
    font-size: 18px;
}

.f20p {
    font-size: 20px;
}

.f22p {
    font-size: 22px;
}

.f24p {
    font-size: 24px;
}

.f26p {
    font-size: 26px;
}

.f30p {
    font-size: 30px;
}

.f32p {
    font-size: 32px;
}

.f36p {
    font-size: 36px;
}

.f50p {
    font-size: 50px;
}

// Line Height

.f8lh {
    line-height: 8px;
}

.f10lh {
    line-height: 10px;
}

.f12lh {
    line-height: 12px;
}

.f14lh {
    line-height: 14px;
}

.f16lh {
    line-height: 16px;
}

.f20lh {
    line-height: 20px;
}

.f22lh {
    line-height: 22px;
}

.f24lh {
    line-height: 24px;
}

.f26lh {
    line-height: 26px;
}

.f30lh {
    line-height: 30px;
}

.f37lh {
    line-height: 37px;
}

.f50lh {
    line-height: 50px;
}

// Letter Spacing

.ls-7_5px {
    letter-spacing: 7.5px;
}