<nav>
    <div class="container is-flex align-center justify-space-between">
        <div class="logo">Lybra</div>
        <ul [ngClass]="showMenu ? 'show-menu' : ''">
            <li class="close-btn"><img (click)="showMore(false)" src="assets/images/close.svg" /></li>
            <li><a href="javascript:void(0);">DEMOS</a></li>
            <li><a href="javascript:void(0);">PAGES</a></li>
            <li><a href="javascript:void(0);">ELEMENTS</a></li>
            <li><a href="javascript:void(0);">BLOG</a></li>
            <li><a href="javascript:void(0);">CONTACTS</a></li>
        </ul>
        <div (click)="showMore(true)" class="mob-menu-toggle"><img src="assets/images/menu.svg" /></div>
    </div>
</nav>