<div class="testimonial-wrap">
    <ng-container *ngTemplateOutlet="testimonialCard;"></ng-container>
    <ng-container *ngTemplateOutlet="testimonialCard;"></ng-container>
    <ng-container *ngTemplateOutlet="testimonialCard;"></ng-container>
  </div>

<ng-template #testimonialCard>
    <div class="testimonial-card">
        <div>
            <img class="testimonial-img mb-1rem" src="assets/images/testimonial.png" />
            <div class="testimonial-comment mb-1_5rem">
                Failure will never overtake me if my determination to succeed is strong enough.
            </div>
            <div class="testimoni-name">OG Mandino</div>
        </div>
        <div class="testimoni-img">
            <img class="testimonial-img" src="assets/images/dummy-testimonial.png" />
        </div>
    </div>
</ng-template>