@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600;700&display=swap');

@import "assets/scss/general";
@import "assets/scss/typo";
@import "assets/scss/grid";
@import "assets/scss/box-sizing";
@import "assets/scss/btn-inputs";

// Slick Slider Customization

.slick-track {
    padding: 30px 0;
}

.slick-dots {
    position: absolute;
    bottom: 115px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    button {
        width: 11px;
        height: 11px;
        opacity: 0.5;
        position: relative;
        padding: 0;
        margin: 0 2px;
        background-color: #7067FF;
        color: #7067FF;
        overflow: hidden;
        outline: 0;
    }

    li.slick-active {
        button {
            width: 24px;
            opacity: 1;
        }
    }
}

// Tablet Landscape Styles Go Here
@media only screen and (min-width: 1024px) and (max-width: 1160px) {
    
}

// Tablet Styles Go Here
@media only screen and (min-width: 450px) and (max-width: 1023px) {
    
}

// Mobile Styles Go Here
@media only screen and (max-width: 450px) {

    .two-col, .three-col {
        grid-template-columns: 1fr;
    }

    .xl-text {
        font-size: 30px;
        line-height: 40px;
    }

    .input-wrap{
        margin-bottom: 30px;

        .custom-label {
            font-size: 16px;
            line-height: 20px;
        }

        input {
            font-size: 16px;
            line-height: 20px;

            &:focus + .custom-label {
                bottom: 34px;
                font-size: 12px;
                line-height: 16px;
            }
        
            &:active + .custom-label {
                bottom: 34px;
                font-size: 12px;
                line-height: 16px;
            }
        
            &:not(:placeholder-shown) + .custom-label {
                bottom: 34px;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }

    .select-wrap {
        margin-bottom: 30px;

        .custom-label {
            bottom: 34px;
            font-size: 12px;
            line-height: 14px;
        }

        select {
            font-size: 16px;
            line-height: 20px;
        }
    }
}
