<div class="register-sec">
    <div class="container">
        <div class="register-form">
            <div class="mb-5rem x-bold f36p f50lh">Register</div>
            <div class="input-wrap">
                <input placeholder="Your Email" type="email" required/>
                <span class="custom-label">Your Email<sup>*</sup></span>
            </div>
            <div class="input-wrap">
                <input placeholder="Your Name" type="text" required/>
                <span class="custom-label">Your Name<sup>*</sup></span>
            </div>
            <div class="select-wrap">
                <select>
                  <option>India</option>
                  <option>UAE</option>
                  <option>US</option>
                  <option>UK</option>
                </select>
                  <span class="custom-label">Country</span>
            </div>
            <div class="input-wrap">
                <input placeholder="Phone number" type="number"/>
                <span class="custom-label">Phone number</span>
            </div>
            <button class="gradient full-rounded is-flex align-center">
                Get Started
                <img class="ml-0_5rem" src="assets/images/arrow-right.svg" />
                <img src="assets/images/arrow-right.svg" />
            </button>
        </div>
    </div>
    <img class="bg-img" src="assets/images/contact-us.svg" />

</div>